body {
    background-color: rgb(218, 221, 230);
    position: relative;
    margin: 0px;
}

.logo {
    text-align: center;
    width: 100%;
    height: 218px;
}

@media (max-width:768px) {
    .menu {
        position: relative;
        max-width: 100%;
        height: 218px;
        overflow: hidden;
    }
    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}