body {
    background-color: rgb(240, 211, 217);
    position: relative;
    margin: 0%;
    width: 100%;
}

.logo {
    text-align: center;
    width: 100%;
    height: 218px;
    position: static;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
.itemmenu {
    width: 100%;
    position: absolute;
    top: 40%;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    /* border: 2px solid black; */
    display: flex;
}

.itemmenul {
    width: 39%;
    display: grid;
    padding: 1% 2%;
    grid-template-columns: 33% 45% 25%;
    grid-auto-rows: 1rem;
    /* border: 1px solid black; */
}

.itemmenul a {
    text-decoration: none;
    color: white;
}

.itemmenur {
    width: 39%;
    display: grid;
    padding: 1% 2%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1rem;
    grid-gap: 10% 0%;
    position: absolute;
    right: 0%;
    /* border: 1px solid black; */
    text-align: right;
}

.itemmenur a {
    text-decoration: none;
    color: white;
}

main {
    position: relative;
    margin-top: 1.3%;
    width: 96%;
}

.content {
    width: 64%;
    height: 1000px;
    background-color: white;
    position: absolute;
    border-radius: 1.4%;
}

.more {
    width: 34%;
    height: 1000px;
    background-color: white;
    position: absolute;
    top: 0%;
    right: 0%;
    border-radius: 1.5%;
}

@media (max-width: 1000px) {
    .menu {
        position: relative;
        max-width: 100%;
        height: 218px;
        overflow: hidden;
    }
    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .itemmenur {
        display: none;
    }
    .itemmenul {
        display: none;
    }
    .content {
        width: 100%;
        margin: 1.5%;
    }
    .more {
        display: none;
    }
}